body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 2rem;
    display: flex;
    scale: 1.4;
}

.search-bar {
    display: flex;
    padding: 20px;
    background-color: white;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.mechanic-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.mechanic-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
}

.mechanic-card img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.24)
}

.mechanic-card h3 {
    margin-top: 0;
}

.mechanic-card p {
    margin: 5px 0;
}

.mechanic-card button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.map {
    background-color: #eee;
    height: 300px;
    margin: 20px;
}